{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>UPDATE YOUR  TODO</h1>
  <form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
      <label for="title1" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title"  value={{todo.title}} id="title" aria-describedby="emailHelp">
     
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Todo Description</label>
      <!-- <input type="text" name="desc"class="form-control" value={{todo.desc}} id="desc"> -->
      <textarea name="desc" class="form-control" id="desc" rows="5" required>{{ todo.desc }}</textarea>
    </div>
  
    <button type="submit" class="btn btn-dark">Update</button>
  </form>
</div>
{% endblock body %}